:root {
  --color-black: rgb(8, 8, 8);
  --color-white: rgb(248, 248, 248);
  --padding-mobile-side: 8%;
  --padding-mobile-upd: 4%;
  --font-size-mobile: 18px;
  --font-size-icons-mobile: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: articulat-cf;
  font-size: var(--font-size-mobile);
  min-height: 300vh;
}

.header-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header-background {
  display: flex;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.header-background-photo {
  width: 60%;
  height: 100%;
  background-image: url(photos/header-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-background-color {
  width: 40%;
  height: 100%;
  background-image: url(photos/bgNoise2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--padding-mobile-upd) var(--padding-mobile-side);
}

.nav-bar {
  height: 8%;
  display: flex;
}

.logo-ntb {
  height: 100%;
}

.main-nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--padding-mobile-upd) var(--padding-mobile-side);
  z-index: 10;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 0.5s;
}

.main-nav-active {
  top: 0;
}

.close-nav-btn__container {
  width: 40px;
  height: 40px;
  position: relative;
  transition: 0.5s;
}

.close-nav-btn-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-black);
  transform: rotate(45deg) translateY(-50%);
}

.close-nav-btn-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  transform: rotate(-90deg);
}

.nav__elements {
  width: 100%;
  margin-top: 10%;
  list-style: none;
}

.nav__element {
  margin: 5% 0;
  text-align: center;
}

.nav__element a {
  color: var(--color-black);
  text-decoration: none;
  text-transform: uppercase;
}

.menu-burger-container {
  width: 30px;
  height: 30px;
  position: fixed;
  right: var(--padding-mobile-side);
}

.burger-bar {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--color-black);
  height: 2px;
}

.burger-bar::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

.burger-bar::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

.social-media-links__container {
  position: absolute;
  top: 50%;
  right: var(--padding-mobile-side);
  transform: translateY(-50%);
}

.social-media__links {
  list-style: none;
  font-size: var(--font-size-icons-mobile);
  position: relative;
}

.social-media-links__container:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 2px;
  background-color: var(--color-black);
}

.social-media-links__container::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 2px;
  background-color: var(--color-black);
}

.social-media__link {
  margin: 10px 0;
}

.social-media__link a {
  color: var(--color-black);
}

.site-title {
  margin: var(--padding-mobile-side) var(--padding-mobile-side);
  padding: var(--padding-mobile-upd) 0;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  position: relative;
}

.site-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 30px;
  background-color: var(--color-black);
}

.buttons__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy--button {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 8px 12px;
  margin-right: 20px;
  border: 2px solid black;
}

.contact--button {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
  padding: 8px 12px;
  border: 2px solid black;
}
