:root {
  --color-black: rgb(8, 8, 8);
  --color-white: rgb(248, 248, 248);
  --padding-mobile-side: 8%;
  --padding-mobile-upd: 4%;
  --padding-desktop-side: 9%;
  --padding-desktop-upd: 5%;
  --font-size-mobile: 18px;
  --font-size-desktop: 24px;
  --font-size-title-desktop: 96px;
  --font-size-icons-mobile: 30px;
  --font-size-title-mobile: 60px;
  --transition-time: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-title {
  font-size: var(--font-size-title-mobile);
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding: var(--padding-mobile-upd) 0;
}

bold {
  font-weight: 700;
}

.section-title::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 30px;
  background-color: var(--color-black);
}

body {
  font-family: articulat-cf;
  font-size: var(--font-size-mobile);
  display: flex;
  flex-direction: column;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.5);
  z-index: 1000;
}

.popup-content {
  position: absolute;
  width: 80%;
  /* height: 70%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10% 5%;
  background-color: var(--color-white);
}

.popup-content::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 90%;
  border: 2px solid var(--color-black);
  top: 5%;
  left: 2.5%;
}

.popup-title {
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  line-height: 51px;
}

.popup-ask {
  text-transform: uppercase;
  text-align: center;
  margin: 10%;
}

.popup-content .buttons-container {
  width: 100%;
  text-align: center;
}

.popup--button {
  border: 2px solid var(--color-black);
  text-transform: uppercase;
  padding: 9px 24px;
  margin: 0 auto;
  font-family: articulat-cf;
  font-size: 18px;
  transition: var(--transition-time);
  cursor: pointer;
  color: var(--color-black);
  text-decoration: none;
}

.popup--button.no--btn {
  text-decoration: none;
  color: var(--color-black);
}

.popup--button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.header-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header-background {
  display: flex;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.header-background-photo {
  width: 75%;
  height: 100vh;
  background-image: url(photos/header-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-background-color {
  width: 25%;
  height: 100vh;
  background-image: url(photos/bgNoise2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--padding-mobile-upd) var(--padding-mobile-side);
}

.nav-bar {
  height: 8%;
  display: flex;
}

.logo-ntb {
  /* height: 100%; */
  display: none;
}

.main-nav {
  position: fixed;
  top: -120%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--padding-mobile-upd) var(--padding-mobile-side);
  z-index: 100;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 0.3s;
}

.main-nav-active {
  top: 0;
}

.close-nav-btn__container {
  width: 40px;
  height: 40px;
  position: relative;
  transition: 0.3s;
}

.close-nav-btn-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-black);
  transform: rotate(45deg) translateY(-50%);
}

.close-nav-btn-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  transform: rotate(-90deg);
}

.nav__elements {
  width: 100%;
  margin-top: 10%;
  list-style: none;
}

.nav__element {
  margin: 5% 0;
  text-align: center;
}

.nav__element a {
  color: var(--color-black);
  text-decoration: none;
  padding-bottom: 5px;
  text-transform: uppercase;
  display: block;
  position: relative;
  overflow: hidden;
}

.nav__element a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -40px;
  width: 30px;
  height: 2px;
  background-color: var(--color-black);
  transition: var(--transition-time);
}

.nav__element a:hover:after {
  left: 0;
}

.menu-burger-container {
  width: 30px;
  height: 30px;
  position: absolute;
  right: var(--padding-mobile-side);
  z-index: 10;
  /* background-color: var(--color-white); */
}

.burger-bar {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--color-black);
  height: 2px;
}

.burger-bar::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

.burger-bar::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

.social-media-links__container {
  position: absolute;
  top: 50vh;
  right: var(--padding-mobile-side);
  transform: translateY(-50%);
}

.social-media__links {
  list-style: none;
  font-size: var(--font-size-icons-mobile);
  position: relative;
}

.social-media-links__container:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 2px;
  background-color: var(--color-black);
}

.social-media-links__container::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: 2px;
  background-color: var(--color-black);
}

.social-media__link {
  margin: 10px 0;
}

.social-media__link a {
  color: var(--color-black);
  display: block;
  transition: var(--transition-time);
  /* transform: rotate(60deg); */
}

.social-media__link a:hover {
  transform: scale(1.1);
}

.site-title {
  margin: var(--padding-mobile-side) var(--padding-mobile-side) 1%
    var(--padding-mobile-side);
  padding: var(--padding-mobile-upd) 0;
  text-transform: uppercase;
  font-size: var(--font-size-title-mobile);
  text-align: center;
  position: relative;
  line-height: 60px;
}

.site-title::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 30px;
  background-color: var(--color-black);
}

.buttons__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy--button {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 8px 12px;
  margin-right: 20px;
  border: 2px solid black;
  /* pointer-events: none; */
  /* cursor: default; */
  transition: var(--transition-time);
}

.buy--button:hover {
  background-color: var(--color-white);
}

.contact--button {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
  padding: 8px 12px;
  border: 2px solid black;
  transition: var(--transition-time);
}

.contact--button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.about-us-background-photo {
  width: 100%;
  height: 35vh;
  background-image: url(photos/vodka-about-mobile.png);
  background-size: cover;
  background-position: center;
  margin-top: var(--padding-mobile-side);
}

.about-us-text-content {
  padding: var(--padding-mobile-side) var(--padding-mobile-side);
}

.about-first-text {
  margin: 0 0 var(--padding-mobile-side) 0;
  text-transform: uppercase;
  text-align: justify;
  text-align-last: center;
  line-height: 24px;
  word-spacing: 8px;
}

.about-second-text {
  margin: var(--padding-mobile-side) 0;
  text-transform: uppercase;
  text-align: justify;
  text-align-last: center;
  line-height: 24px;
  word-spacing: 8px;
}

.read-more--button {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 8px 12px;
  border: 2px solid black;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  transition: var(--transition-time);
}

.about-us .read-more--button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.product-background-photo {
  width: 100%;
  height: 35vh;
  background-image: url(photos/product-mobile.png);
  background-size: cover;
  background-position: center;
  /* margin: 0 0; */
}

.product-background-color {
  background-image: url(photos/bgNoise2.png);
  background-size: cover;
  background-position: center;
}

.product-text-content {
  padding: var(--padding-mobile-side) var(--padding-mobile-side) 24%
    var(--padding-mobile-side);
}

.product-first-text {
  margin: 0 0 var(--padding-mobile-side) 0;
  text-transform: uppercase;
  text-align: justify;
  text-align-last: center;
  line-height: 24px;
  word-spacing: 8px;
}

.product-second-text {
  margin: var(--padding-mobile-side) 0;
  text-transform: uppercase;
  text-align: justify;
  text-align-last: center;
  line-height: 24px;
}

.product .read-more--button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.contact {
  position: relative;
  padding: var(--padding-mobile-side) var(--padding-mobile-side);
  min-height: 100vh;
  background-color: var(--color-black);
}

.contact .section-title {
  line-height: 60px;
}
.contact img {
  display: none;
}
.contact-background-photo {
  height: 45vh;
  transform: translateY(-32%);
  background-image: url(photos/contactBg.png);
  background-size: cover;
  background-position: center;
  margin: var(--padding-mobile-side) 0;
}

.contact-text-content {
  color: var(--color-white);
  transform: translateY(-24%);
}

.contact .section-title::before {
  background-color: var(--color-white);
}

.social-media-links__container-contact {
  width: 100%;
  position: relative;
}

.social-media-links__container-contact::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 30px;
  background-color: var(--color-white);
}

.social-media-links__container-contact::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 30px;
  background-color: var(--color-white);
}

.social-media__links-contact {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-media__links-contact a {
  color: var(--color-white);
  font-size: var(--font-size-icons-mobile);
  margin: 0 10px;
  transition: var(--transition-time);
  display: block;
}

.social-media__link-contact a:hover {
  transform: scale(1.1);
}

.contact .fa-facebook {
  font-size: 28px;
  line-height: 25px;
  /* text-align: center; */
}

.contact-list {
  margin: calc(var(--padding-mobile-side) * 2) 0;
  text-align: center;
}

.contact-list p {
  margin: var(--padding-mobile-upd) 0;
  color: var(--color-white);
  text-decoration: none;
}

.privacy-policy {
  color: var(--color-white);
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .section-title {
    font-size: var(--font-size-title-desktop);
    text-transform: uppercase;
    text-align: right;
    position: relative;
    padding: var(--padding-desktop-upd) 0;
  }

  .section-title::before {
    display: none;
  }

  body {
    font-size: var(--font-size-desktop);
  }

  .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.5);
    z-index: 1000;
  }

  .popup-content {
    position: absolute;
    width: 60%;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4% 5%;
    background-color: var(--color-white);
  }

  .popup-title {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }

  .popup-ask {
    text-transform: uppercase;
    text-align: center;
    margin: 4%;
  }

  .popup-content .buttons-container {
    width: 100%;
    text-align: center;
  }

  .popup--button {
    border: 2px solid var(--color-black);
    text-transform: uppercase;
    padding: 9px 24px;
    margin: 0 auto;
    font-family: articulat-cf;
    font-size: 18px;
  }

  .header-container {
    height: 100vh;
  }

  .header-background {
    display: flex;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .header-background-photo {
    width: 36%;
  }

  .header-background-color {
    width: 65%;
  }

  .header-content {
    padding: var(--padding-desktop-upd) var(--padding-desktop-side);
  }

  .nav-bar {
    height: 30px;
    width: 100%;
  }

  .logo-ntb {
    display: none;
  }

  .main-nav {
    position: static;
    height: 30px;
    width: 100%;
    padding: 0 0;
    z-index: 1;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .close-nav-btn__container {
    display: none;
  }

  .nav__elements {
    width: 100%;
    margin-top: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  .nav__element {
    margin: 0 0 0 10%;
    text-align: center;
  }

  .menu-burger-container {
    display: none;
  }

  .site-title {
    width: 30%;
    margin: 0 0;
    padding: 0 0;
    text-transform: uppercase;
    font-size: var(--font-size-title-desktop);
    text-align: left;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    line-height: 100%;
  }

  .site-title::before {
    display: none;
  }

  .buttons__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 15%;
    width: 55%;
    right: 0;
  }

  .buy--button {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 12px 24px;
    margin-right: 20px;
    border: 2px solid black;
    pointer-events: none;
    cursor: default;
  }

  .contact--button {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-black);
    padding: 12px 24px;
    border: 2px solid black;
  }

  .about-us {
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
  }

  .about-us-background-photo {
    width: 30%;
    height: 100vh;
    background-image: url(photos/vodka-about.png);
    background-size: cover;
    background-position: center;
    margin: 0 0;
  }

  .about-us-text-content {
    padding: 0 5% var(--padding-desktop-upd) var(--padding-desktop-side);
    width: 70%;
    position: relative;
  }

  .about-first-text {
    margin: 0 0;
    text-transform: uppercase;
    text-align: justify;
    text-align-last: right;
    line-height: 36px;
  }

  .about-second-text {
    margin: var(--padding-mobile-side) 0;
    text-transform: uppercase;
    text-align: justify;
    text-align-last: right;
    line-height: 36px;
  }

  .read-more--button {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 12px 24px;
    border: 2px solid black;
    position: absolute;
    right: 7%;
    bottom: var(--padding-desktop-upd);
    transform: translate(0);
    /* transform: none; */
    left: auto;
    display: block;
  }

  .product {
    display: flex;
  }

  .product-background-photo {
    width: 30%;
    height: 100vh;
    background-image: url(photos/productBg.png);
    background-size: cover;
    background-position: center;
    margin: 0 0;
  }

  .product-background-color {
    background-image: url(photos/bgNoise2.png);
    background-size: cover;
    background-position: center;
    width: 70%;
  }

  .product-text-content {
    padding: 0 var(--padding-desktop-side) var(--padding-desktop-upd) 5%;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .product-text-content .section-title {
    text-align: left;
  }

  .product-first-text {
    margin: 0 0;
    text-transform: uppercase;
    text-align: justify;
    text-align-last: left;
    line-height: 36px;
  }

  .product-second-text {
    margin: var(--padding-mobile-side) 0;
    text-transform: uppercase;
    text-align: justify;
    text-align-last: left;
    line-height: 36px;
  }

  .product-text-content .read-more--button {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-black);
    padding: 12px 24px;
    border: 2px solid black;
    position: absolute;
    left: 5%;
    bottom: 22%;
    transform: translate(0);
    /* transform: none; */
    right: auto;
    display: block;
  }

  .contact {
    padding: 0 0;
    background-color: var(--color-black);
  }

  .contact .section-title {
    line-height: 100%;
  }

  .contact-background-photo {
    height: 100vh;
    position: absolute;
    bottom: 10%;
    left: 15%;
    width: 25%;
    transform: translateY(0);
    background-image: url(photos/contactBg.png);
    background-size: cover;
    background-position: center;
    margin: 0 0;
  }

  .contact img {
    position: absolute;
    top: var(--padding-desktop-upd);
    left: var(--padding-desktop-side);
    height: 5%;
    z-index: 1;
    display: block;
  }

  .contact-text-content {
    color: var(--color-white);
    transform: translateY(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .contact .section-title {
    position: absolute;
    top: 25%;
    left: 44%;
    width: 30%;
    text-align: left;
    transform: translateY(-20%);
  }

  .contact .section-title::before {
    background-color: var(--color-white);
  }

  .social-media-links__container-contact {
    position: absolute;
    top: 50vh;
    left: var(--padding-mobile-side);
    right: auto;
    transform: translateY(-50%);
    width: auto;
  }

  .social-media__links-contact {
    list-style: none;
    font-size: var(--font-size-icons-mobile);
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .social-media-links__container-contact:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 2px;
    background-color: var(--color-white);
  }

  .social-media-links__container-contact::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    height: 30px;
    width: 2px;
    top: auto;
  }

  .social-media__link-contact {
    margin: 10px 0;
  }

  .social-media__link-contact a {
    color: var(--color-white);
  }

  .contact-list {
    margin: 0 0;
    text-align: left;
    position: absolute;
    bottom: 20%;
    left: 44%;
  }

  .contact-list p {
    margin: 0 0;
  }

  .privacy-policy {
    position: absolute;
    bottom: 15%;
    right: 10%;
  }
}

@media (min-height: 1080px) {
  .about-us {
    display: flex;
    flex-direction: row-reverse;
    min-height: 0;
    height: 100vh;
  }

  .about-us-background-photo {
    width: 30%;
    height: 100vh;
    background-image: url(photos/vodka-about.png);
    background-size: cover;
    background-position: center;
    margin: 0 0;
  }

  .read-more--button {
    bottom: 15%;
  }
}
